.wrapper {
  max-width: 768px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.subtext {
  color: var(--muted);
  margin-bottom: 1rem;
}

.image {
  max-width: auto;
  max-height: 300px;
  
  border-radius: 6px;
  margin: 1rem 0;
}
